/* Reset básico para remover espaços em branco ao redor dos elementos */
html,
body,
#root { 
  margin: 0;
  padding: 0; 
  height: 100%; 
  width: 100%; 
}

.home-container {
  position: relative; 
  height: 100vh; 
  width: 100vw; 
  overflow: hidden; /* essencial para esconder o overflow causado pelo wave */
  background-color: #1d1b1b; 
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.home-header {
  background-color: #1a1a1a; 
  padding: 20px 0;
  text-align: center;
  width: 100%; 
  height: 5%;
}

.home-title {
  position: absolute;
  top: 0px;
  left: 8%;  
  transform: translateX(-50%);
  font-size: 2em;
}

.home-welcome {
  position: absolute;
  top: 20%; /* Ajuste para centralizar verticalmente na tela */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  max-width: 120%; 
  text-align: center;
}

.search-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px; 
  margin-left: 20px;
  background-color: #555; 
  color: #fff;
  border: none;
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 1em;
  transition: transform 0.4s;
} 

.search-button:hover {
  background-color: #777; 
  transform: scale(1.1);
}
.wave-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  transform: translateY(25%); /* Desloca o contêiner para baixo sem criar barra de rolagem */
}

.wave-container img {
  width: 100%;
  display: block;
}

/* TextField.css */
.search-input {
  padding: 10px;
  padding-left: 40px;
  margin: 220px 0;
  margin-left: 300px;
  border-radius: 20px;
  border: 0px solid #555;
  background-color: #333;
  color: #fff;
  font-size: 1em;
  width: calc(50% - 22px); /* Ajusta a largura para levar em conta o padding e a borda */
}

.search-input:focus {
  outline: none;
  border-color: #777;
}
.side-menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 250px; /* Largura do menu lateral */
  height: 100%;
  background-color: #2c3e50; /* Cor de fundo do menu */
  box-shadow: -2px 0 5px rgba(0,0,0,0.5); /* Sombra para dar profundidade */
  padding: 20px; /* Espaço interno */
  transform: translateX(0); /* Certifique-se de que está totalmente visível quando ativo */
  transition: transform 0.3s ease-in-out; /* Animação suave */
}

.home-container.menu-active .side-menu {
  transform: translateX(-100%); /* Esconde o menu lateral quando não está ativo */
}
.menu-button, .search-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: transform 0.4s;
}

.menu-button:hover, .search-button:hover {
  background-color: #777;
  transform: scale(1.1);
}

/* Ajustes adicionais para o posicionamento específico podem ser necessários */
.menu-button {
  position: absolute; /* Exemplo de posicionamento */
  top: 5px; /* Ajuste conforme necessário */
  right: 300px; /* Posiciona o botão do menu à direita */
}